*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerr{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
   text-align: center;
}
.items{
    background-color:   rgba(133, 97, 122, 0.5);
    border: 1px solid rgb(126, 126, 126);
    border-radius: 20px;
   padding: 10px;
   letter-spacing: 1px;
   margin: 10px;
}
.items li{
    list-style: none;
    border: 1px solid rgb(77, 76, 76);
    padding: 10px;
    border-radius: 20px;
   margin: 10px 0;
   /* color: rgb(238, 236, 236); */
   /* color: rgb(36, 2, 2); */
   color: rgb(185, 196, 206);
   text-shadow: 0.5px 0.5px rgb(87, 87, 87);
    background-color: rgba(63, 85, 83, 1) ;
}
.item-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
.item-header h2{
    margin: 0;
}
.item-header .count{
    border: 1px solid rgb(12, 12, 12);
    padding: 2px 9px;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    /* margin-left: 1rem; */
}
.nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cont{
    font-family: 'Poppins', sans-serif;
    /* background-color: black;
    color: antiquewhite; */
    background-color: rgb(228, 193, 178);
    /* background-color: rgb(249, 255, 255); */
  /* background-image: linear-gradient(to right, #DB7A45 , #C29221,#E9993D); */
  min-height: 100vh;
}
.navInput{
    background-color: gray;
    padding: 6px;
    color: white;
    border: none;
    outline: none;
    letter-spacing: 0.1rem;
    padding-left: 25px;
}
.navInput::placeholder{
    color: white;
}
.searchbar{
    position: relative;
    margin: 5px;
}
.iteminfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3rem;
}
.custbadge{
    border: 1px solid rgb(58, 58, 58);
    padding: 0 0.5rem;
    font-size: 0.8rem;
    border-radius: 10px;
    color: rgb(233, 227, 227);
    /* color: white; */
}
.custbadge-assignee{
 background-color: rgba(75, 57, 80,1);
 color: rgb(228, 182, 241);
 text-shadow: 0.00001px 0px rgb(65, 64, 62);
 border: 1px solid rgb(107, 107, 107);
}
.searchbar i{
    position: absolute;
    top: 6px;
    left: 5px;
    color: whitesmoke;
}
@media screen and (max-width: 1000px) {
   .containerr{
    grid-template-columns: 1fr 1fr ;
   }
  }
  @media screen and (max-width: 550px) {
    .containerr{
     grid-template-columns: 1fr;
    }
   }